<configuration>
	<system.web>
		<compilation debug="true"/>
		<customErrors mode="Off"/>
	</system.web>
	
  <connectionStrings >
    <add
         name="shop9ConnectionString" 
         connectionString="Data Source = localhost\SHOP9;Initial Catalog=S9_Real; User id=sa; Password=Senha123; Min Pool Size=5;Max Pool Size=250; Connect Timeout=3000;"
         providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>


